{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction - My Page</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="container">
        <h1>Introduction</h1>

        <div class="about-text">
           
            <p> Hi , My name is Husanboy. I am a student of the university. <br>
                I am interested in programming and web development. <br>
                I am learning HTML, CSS, and Python. <br>
                I was born in Namangan, Uzbekistan in 2005.</p>
        </div>

        
        <img src="https://avatars.mds.yandex.net/i?id=00b54dad881fa271e642e4e9889dfc97a0c8a58a-4444221-images-thumbs&n=13" alt="My Photo" class="profile-img">
    </div>

</body>
</html>
