{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Bosh sahifa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">

</head>
<body>
    <h1> Hi this is home page of Ottaman empire!</h1>
    <h2> Welcome to the world of Ottaman empire! </h2>
    <h3> Small facts about Ottaman empire</h3>
    <p> Ottaman empire is a powerful and ancient civilization. <br>
        Ottaman empire was a major political and military power in the medieval and early modern periods. <br>
        It was founded in 1299 and lasted until 1922. <br>
        The empire was known for its military strength, administrative efficiency, and cultural achievements. <br>
        1st ruler Osman I and last ruler Mehmed VI.</p>
    <img src="https://avatars.mds.yandex.net/i?id=10c8cd0f4f856adcfb48c18b2637599b3b072e95-12527471-images-thumbs&n=13" alt="Ottoman Empire" width="300" height="150">
    <div class="img-row">
        <img src="https://avatars.mds.yandex.net/i?id=d99644ac9afd6ad4fd461dd604d7a29a05cd43ba-5657852-images-thumbs&n=13" alt="Osman bey (Ottaman 1)" width="500" height="200">
    <img src="https://avatars.mds.yandex.net/i?id=4751b45fb330bc9f7329a5a29502fa3ec230b85c-5239568-images-thumbs&n=13" alt="Mehmed VI (Ottaman last ruler)" width="300" height="300">
    </div>
</body>
</html>
